// COLORS
$light-gray: #bed1f0;
$dark-gray: rgba(12,18,28,.6);
$darkest-gray:rgba(12,18,28); 
$sky-blue: #18A0F6;
$white: #ffffff;
$orange: #f54336;
$black: #000000;
$dark-blue: #2B3139;
$ash: hsla(0,0%,100%,.5);